.head-text {
    top: 10%;
 }

 .title {
    color: #274169;
    font-size: 40px;
 }

 body {
    background-color: #274169;
    align-items: center;
    flex-direction: column;
    display: flex;
 }

 .label {
     display: flex;
     flex-direction: column;
     color: grey;
     font-size: 18px;
     justify-content: center;
 }

 .sublabel {
    color: grey;
    font-size: 16px;
    /* justify-content: center; */
}


 .gallery {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .imgPicker {
    margin: 8px;
    /* transition: transform 2s; */
    transition: opacity 0.2s;
    position: relative;
}

.imgPicker:hover {
    transform: scale(1.01);
    opacity: .8;
}

.imgPicker:hover .anticon {
    opacity: 0.6
}

.imgPicker:hover .anticon:hover {
    transform: scale(1.05);
    opacity: 1;
}

.imgPicker .anticon {
    position: absolute; 
    top: 10px; 
    left: 10px;
}

.selected .anticon {
    position: absolute; 
    top: 10px; 
    left: 10px;
}

.selected {
    border: 4px solid #3ABDC4;
    margin: 8px;
    opacity: .5;
    position: relative;
 }
    
.imgPicker img {
    display: block;
}

.selected img {
    display: block;
}

 .container {
    position: relative;
    width: 100%;
    display: contents;
 }
