.head-text {
    top: 10%;
 }

 .title {
    color: #274169;
    font-size: 40px;
 }

 body {
    background-color: #274169;
    align-items: center;
    flex-direction: column;
    display: flex;
 }

 .label {
     display: flex;
     flex-direction: column;
     color: grey;
     font-size: 18px;
     justify-content: center;
 }

 .sublabel {
    color: grey;
    font-size: 16px;
    /* justify-content: center; */
}


 .gallery {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .imgPicker {
    margin: 8px;
    /* transition: transform 2s; */
    transition: opacity 0.2s;
    position: relative;
}

.imgPicker:hover {
    transform: scale(1.01);
    opacity: .8;
}

.imgPicker:hover .anticon {
    opacity: 0.6
}

.imgPicker:hover .anticon:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* .imgPicker:hover .anticon:focus {
    transform: scale(1.05);
    opacity: 1;
    color: #a2e283;
} */

.imgPicker .anticon {
    position: absolute; 
    top: 10px; 
    left: 10px;
}

.selected .anticon {
    position: absolute; 
    top: 10px; 
    left: 10px;
}

.selected .anticon:hover {
    transform: scale(1.05);
    opacity: 1;
}

.selected {
    border: 4px solid #3ABDC4;
    margin: 8px;
    opacity: .5;
    position: relative;
 }
    
.imgPicker img {
    display: block;
}

.selected img {
    display: block;
}

 .container {
    position: relative;
    width: 100%;
    display: contents;
 }

 #lightbox {
    z-index: 1;
    position: fixed;
    transition: all 1s;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*optional bg color*/
    background-color: rgba(0, 0, 0, 0.6);
    /*the following isn't necessary but will help center everything once we add buttons*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    max-width: 50%;
    max-height: 60%
}

.caption {
    color: white;
    font-size: 20px;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    width: 100%;
}